/* line 5, ../../../.gem/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.gem/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.gem/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.gem/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.gem/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.gem/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.gem/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.gem/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.gem/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 6, ../stylesheets/main.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/******************************************************
* MIXINS
******************************************************/
@font-face {
  font-family: "feather";
  src: url("../fonts/feather-webfont.eot");
  src: url("../fonts/feather-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/feather-webfont.woff") format("woff"), url("../fonts/feather-webfont.ttf") format("truetype"), url("../fonts/feather-webfont.svg#feather") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Character Mapping Method */
/* line 16, ../stylesheets/_icons.scss */
[data-icon]:before {
  display: inline-block;
  font-family: "feather";
  content: attr(data-icon);
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* CSS Class Mapping Method */
/* line 32, ../stylesheets/_icons.scss */
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  font-family: "feather";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 46, ../stylesheets/_icons.scss */
.icon-eye:before {
  content: "\e000";
}

/* line 50, ../stylesheets/_icons.scss */
.icon-paper-clip:before {
  content: "\e001";
}

/* line 54, ../stylesheets/_icons.scss */
.icon-mail:before {
  content: "\e002";
}

/* line 58, ../stylesheets/_icons.scss */
.icon-mail:before {
  content: "\e002";
}

/* line 62, ../stylesheets/_icons.scss */
.icon-toggle:before {
  content: "\e003";
}

/* line 66, ../stylesheets/_icons.scss */
.icon-layout:before {
  content: "\e004";
}

/* line 70, ../stylesheets/_icons.scss */
.icon-link:before {
  content: "\e005";
}

/* line 74, ../stylesheets/_icons.scss */
.icon-bell:before {
  content: "\e006";
}

/* line 78, ../stylesheets/_icons.scss */
.icon-lock:before {
  content: "\e007";
}

/* line 82, ../stylesheets/_icons.scss */
.icon-unlock:before {
  content: "\e008";
}

/* line 86, ../stylesheets/_icons.scss */
.icon-ribbon:before {
  content: "\e009";
}

/* line 90, ../stylesheets/_icons.scss */
.icon-image:before {
  content: "\e010";
}

/* line 94, ../stylesheets/_icons.scss */
.icon-signal:before {
  content: "\e011";
}

/* line 98, ../stylesheets/_icons.scss */
.icon-target:before {
  content: "\e012";
}

/* line 102, ../stylesheets/_icons.scss */
.icon-clipboard:before {
  content: "\e013";
}

/* line 106, ../stylesheets/_icons.scss */
.icon-clock:before {
  content: "\e014";
}

/* line 110, ../stylesheets/_icons.scss */
.icon-clock:before {
  content: "\e014";
}

/* line 114, ../stylesheets/_icons.scss */
.icon-watch:before {
  content: "\e015";
}

/* line 118, ../stylesheets/_icons.scss */
.icon-air-play:before {
  content: "\e016";
}

/* line 122, ../stylesheets/_icons.scss */
.icon-camera:before {
  content: "\e017";
}

/* line 126, ../stylesheets/_icons.scss */
.icon-video:before {
  content: "\e018";
}

/* line 130, ../stylesheets/_icons.scss */
.icon-disc:before {
  content: "\e019";
}

/* line 134, ../stylesheets/_icons.scss */
.icon-printer:before {
  content: "\e020";
}

/* line 138, ../stylesheets/_icons.scss */
.icon-monitor:before {
  content: "\e021";
}

/* line 142, ../stylesheets/_icons.scss */
.icon-server:before {
  content: "\e022";
}

/* line 146, ../stylesheets/_icons.scss */
.icon-cog:before {
  content: "\e023";
}

/* line 150, ../stylesheets/_icons.scss */
.icon-heart:before {
  content: "\e024";
}

/* line 154, ../stylesheets/_icons.scss */
.icon-paragraph:before {
  content: "\e025";
}

/* line 158, ../stylesheets/_icons.scss */
.icon-align-justify:before {
  content: "\e026";
}

/* line 162, ../stylesheets/_icons.scss */
.icon-align-left:before {
  content: "\e027";
}

/* line 166, ../stylesheets/_icons.scss */
.icon-align-center:before {
  content: "\e028";
}

/* line 170, ../stylesheets/_icons.scss */
.icon-align-right:before {
  content: "\e029";
}

/* line 174, ../stylesheets/_icons.scss */
.icon-book:before {
  content: "\e030";
}

/* line 178, ../stylesheets/_icons.scss */
.icon-layers:before {
  content: "\e031";
}

/* line 182, ../stylesheets/_icons.scss */
.icon-stack:before {
  content: "\e032";
}

/* line 186, ../stylesheets/_icons.scss */
.icon-stack-2:before {
  content: "\e033";
}

/* line 190, ../stylesheets/_icons.scss */
.icon-paper:before {
  content: "\e034";
}

/* line 194, ../stylesheets/_icons.scss */
.icon-paper-stack:before {
  content: "\e035";
}

/* line 198, ../stylesheets/_icons.scss */
.icon-search:before {
  content: "\e036";
}

/* line 202, ../stylesheets/_icons.scss */
.icon-zoom-in:before {
  content: "\e037";
}

/* line 206, ../stylesheets/_icons.scss */
.icon-zoom-out:before {
  content: "\e038";
}

/* line 210, ../stylesheets/_icons.scss */
.icon-reply:before {
  content: "\e039";
}

/* line 214, ../stylesheets/_icons.scss */
.icon-circle-plus:before {
  content: "\e040";
}

/* line 218, ../stylesheets/_icons.scss */
.icon-circle-minus:before {
  content: "\e041";
}

/* line 222, ../stylesheets/_icons.scss */
.icon-circle-check:before {
  content: "\e042";
}

/* line 226, ../stylesheets/_icons.scss */
.icon-circle-cross:before {
  content: "\e043";
}

/* line 230, ../stylesheets/_icons.scss */
.icon-square-plus:before {
  content: "\e044";
}

/* line 234, ../stylesheets/_icons.scss */
.icon-square-minus:before {
  content: "\e045";
}

/* line 238, ../stylesheets/_icons.scss */
.icon-square-check:before {
  content: "\e046";
}

/* line 242, ../stylesheets/_icons.scss */
.icon-square-cross:before {
  content: "\e047";
}

/* line 246, ../stylesheets/_icons.scss */
.icon-microphone:before {
  content: "\e048";
}

/* line 250, ../stylesheets/_icons.scss */
.icon-record:before {
  content: "\e049";
}

/* line 254, ../stylesheets/_icons.scss */
.icon-skip-back:before {
  content: "\e050";
}

/* line 258, ../stylesheets/_icons.scss */
.icon-rewind:before {
  content: "\e051";
}

/* line 262, ../stylesheets/_icons.scss */
.icon-play:before {
  content: "\e052";
}

/* line 266, ../stylesheets/_icons.scss */
.icon-pause:before {
  content: "\e053";
}

/* line 270, ../stylesheets/_icons.scss */
.icon-stop:before {
  content: "\e054";
}

/* line 274, ../stylesheets/_icons.scss */
.icon-fast-forward:before {
  content: "\e055";
}

/* line 278, ../stylesheets/_icons.scss */
.icon-skip-forward:before {
  content: "\e056";
}

/* line 282, ../stylesheets/_icons.scss */
.icon-shuffle:before {
  content: "\e057";
}

/* line 286, ../stylesheets/_icons.scss */
.icon-repeat:before {
  content: "\e058";
}

/* line 290, ../stylesheets/_icons.scss */
.icon-folder:before {
  content: "\e059";
}

/* line 294, ../stylesheets/_icons.scss */
.icon-umbrella:before {
  content: "\e060";
}

/* line 298, ../stylesheets/_icons.scss */
.icon-moon:before {
  content: "\e061";
}

/* line 302, ../stylesheets/_icons.scss */
.icon-thermometer:before {
  content: "\e062";
}

/* line 306, ../stylesheets/_icons.scss */
.icon-drop:before {
  content: "\e063";
}

/* line 310, ../stylesheets/_icons.scss */
.icon-sun:before {
  content: "\e064";
}

/* line 314, ../stylesheets/_icons.scss */
.icon-cloud:before {
  content: "\e065";
}

/* line 318, ../stylesheets/_icons.scss */
.icon-cloud-upload:before {
  content: "\e066";
}

/* line 322, ../stylesheets/_icons.scss */
.icon-cloud-download:before {
  content: "\e067";
}

/* line 326, ../stylesheets/_icons.scss */
.icon-upload:before {
  content: "\e068";
}

/* line 330, ../stylesheets/_icons.scss */
.icon-download:before {
  content: "\e069";
}

/* line 334, ../stylesheets/_icons.scss */
.icon-location:before {
  content: "\e070";
}

/* line 338, ../stylesheets/_icons.scss */
.icon-location-2:before {
  content: "\e071";
}

/* line 342, ../stylesheets/_icons.scss */
.icon-map:before {
  content: "\e072";
}

/* line 346, ../stylesheets/_icons.scss */
.icon-battery:before {
  content: "\e073";
}

/* line 350, ../stylesheets/_icons.scss */
.icon-head:before {
  content: "\e074";
}

/* line 354, ../stylesheets/_icons.scss */
.icon-briefcase:before {
  content: "\e075";
}

/* line 358, ../stylesheets/_icons.scss */
.icon-speech-bubble:before {
  content: "\e076";
}

/* line 362, ../stylesheets/_icons.scss */
.icon-anchor:before {
  content: "\e077";
}

/* line 366, ../stylesheets/_icons.scss */
.icon-globe:before {
  content: "\e078";
}

/* line 370, ../stylesheets/_icons.scss */
.icon-box:before {
  content: "\e079";
}

/* line 374, ../stylesheets/_icons.scss */
.icon-reload:before {
  content: "\e080";
}

/* line 378, ../stylesheets/_icons.scss */
.icon-share:before {
  content: "\e081";
}

/* line 382, ../stylesheets/_icons.scss */
.icon-marquee:before {
  content: "\e082";
}

/* line 386, ../stylesheets/_icons.scss */
.icon-marquee-plus:before {
  content: "\e083";
}

/* line 390, ../stylesheets/_icons.scss */
.icon-marquee-minus:before {
  content: "\e084";
}

/* line 394, ../stylesheets/_icons.scss */
.icon-tag:before {
  content: "\e085";
}

/* line 398, ../stylesheets/_icons.scss */
.icon-power:before {
  content: "\e086";
}

/* line 402, ../stylesheets/_icons.scss */
.icon-command:before {
  content: "\e087";
}

/* line 406, ../stylesheets/_icons.scss */
.icon-alt:before {
  content: "\e088";
}

/* line 410, ../stylesheets/_icons.scss */
.icon-esc:before {
  content: "\e089";
}

/* line 414, ../stylesheets/_icons.scss */
.icon-bar-graph:before {
  content: "\e090";
}

/* line 418, ../stylesheets/_icons.scss */
.icon-bar-graph-2:before {
  content: "\e091";
}

/* line 422, ../stylesheets/_icons.scss */
.icon-pie-graph:before {
  content: "\e092";
}

/* line 426, ../stylesheets/_icons.scss */
.icon-star:before {
  content: "\e093";
}

/* line 430, ../stylesheets/_icons.scss */
.icon-arrow-left:before {
  content: "\e094";
}

/* line 434, ../stylesheets/_icons.scss */
.icon-arrow-right:before {
  content: "\e095";
}

/* line 438, ../stylesheets/_icons.scss */
.icon-arrow-up:before {
  content: "\e096";
}

/* line 442, ../stylesheets/_icons.scss */
.icon-arrow-down:before {
  content: "\e097";
}

/* line 446, ../stylesheets/_icons.scss */
.icon-volume:before {
  content: "\e098";
}

/* line 450, ../stylesheets/_icons.scss */
.icon-mute:before {
  content: "\e099";
}

/* line 454, ../stylesheets/_icons.scss */
.icon-content-right:before {
  content: "\e100";
}

/* line 458, ../stylesheets/_icons.scss */
.icon-content-left:before {
  content: "\e101";
}

/* line 462, ../stylesheets/_icons.scss */
.icon-grid:before {
  content: "\e102";
}

/* line 466, ../stylesheets/_icons.scss */
.icon-grid-2:before {
  content: "\e103";
}

/* line 470, ../stylesheets/_icons.scss */
.icon-columns:before {
  content: "\e104";
}

/* line 474, ../stylesheets/_icons.scss */
.icon-loader:before {
  content: "\e105";
}

/* line 478, ../stylesheets/_icons.scss */
.icon-bag:before {
  content: "\e106";
}

/* line 482, ../stylesheets/_icons.scss */
.icon-ban:before {
  content: "\e107";
}

/* line 486, ../stylesheets/_icons.scss */
.icon-flag:before {
  content: "\e108";
}

/* line 490, ../stylesheets/_icons.scss */
.icon-trash:before {
  content: "\e109";
}

/* line 494, ../stylesheets/_icons.scss */
.icon-expand:before {
  content: "\e110";
}

/* line 498, ../stylesheets/_icons.scss */
.icon-contract:before {
  content: "\e111";
}

/* line 502, ../stylesheets/_icons.scss */
.icon-maximize:before {
  content: "\e112";
}

/* line 506, ../stylesheets/_icons.scss */
.icon-minimize:before {
  content: "\e113";
}

/* line 510, ../stylesheets/_icons.scss */
.icon-plus:before {
  content: "\e114";
}

/* line 514, ../stylesheets/_icons.scss */
.icon-minus:before {
  content: "\e115";
}

/* line 518, ../stylesheets/_icons.scss */
.icon-check:before {
  content: "\e116";
}

/* line 522, ../stylesheets/_icons.scss */
.icon-cross:before {
  content: "\e117";
}

/* line 526, ../stylesheets/_icons.scss */
.icon-move:before {
  content: "\e118";
}

/* line 530, ../stylesheets/_icons.scss */
.icon-delete:before {
  content: "\e119";
}

/* line 534, ../stylesheets/_icons.scss */
.icon-menu:before {
  content: "\e120";
}

/* line 538, ../stylesheets/_icons.scss */
.icon-archive:before {
  content: "\e121";
}

/* line 542, ../stylesheets/_icons.scss */
.icon-inbox:before {
  content: "\e122";
}

/* line 546, ../stylesheets/_icons.scss */
.icon-outbox:before {
  content: "\e123";
}

/* line 550, ../stylesheets/_icons.scss */
.icon-file:before {
  content: "\e124";
}

/* line 554, ../stylesheets/_icons.scss */
.icon-file-add:before {
  content: "\e125";
}

/* line 558, ../stylesheets/_icons.scss */
.icon-file-subtract:before {
  content: "\e126";
}

/* line 562, ../stylesheets/_icons.scss */
.icon-help:before {
  content: "\e127";
}

/* line 566, ../stylesheets/_icons.scss */
.icon-open:before {
  content: "\e128";
}

/* line 570, ../stylesheets/_icons.scss */
.icon-ellipsis:before {
  content: "\e129";
}

/******************************************************
* BASE FONT
******************************************************/
/******************************************************
* ADDITIONAL FONTS
******************************************************/
/******************************************************
* FONT ROLES
******************************************************/
/******************************************************
* FONT SCALE
******************************************************/
/******************************************************
* TEXT COLORS
******************************************************/
/* line 1, ../stylesheets/_typography.scss */
body {
  font-family: Georgia, serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.9);
}
@media screen and (min-width: 600px) {
  /* line 1, ../stylesheets/_typography.scss */
  body {
    font-size: 20px;
    line-height: 32px;
  }
}

/* line 7, ../stylesheets/_typography.scss */
.h1, .h2, .h3, .h4, .h5, .font-comparison th, .h6 {
  font-weight: bold;
}

/* line 11, ../stylesheets/_typography.scss */
.h1 {
  font-family: Verdana, sans-serif;
  font-size: 24.92px;
  line-height: 33.642px;
}
@media screen and (min-width: 600px) {
  /* line 11, ../stylesheets/_typography.scss */
  .h1 {
    font-size: 37.38px;
    line-height: 46.725px;
  }
}

/* line 15, ../stylesheets/_typography.scss */
.h2 {
  font-family: Verdana, sans-serif;
  font-size: 22.31396px;
  line-height: 30.92785px;
}
@media screen and (min-width: 600px) {
  /* line 15, ../stylesheets/_typography.scss */
  .h2 {
    font-size: 31.05164px;
    line-height: 41.28545px;
  }
}

/* line 19, ../stylesheets/_typography.scss */
.h3 {
  font-family: Verdana, sans-serif;
  font-size: 19.98045px;
  line-height: 28.43268px;
}
@media screen and (min-width: 600px) {
  /* line 19, ../stylesheets/_typography.scss */
  .h3 {
    font-size: 25.79465px;
    line-height: 36.47914px;
  }
}

/* line 23, ../stylesheets/_typography.scss */
.h4 {
  font-family: Verdana, sans-serif;
  font-size: 17.89097px;
  line-height: 26.13881px;
}
@media screen and (min-width: 600px) {
  /* line 23, ../stylesheets/_typography.scss */
  .h4 {
    font-size: 21.42766px;
    line-height: 32.23238px;
  }
}

/* line 27, ../stylesheets/_typography.scss */
.h5, .font-comparison th {
  font-family: Verdana, sans-serif;
  font-size: 16.02px;
  line-height: 24.03px;
}
@media screen and (min-width: 600px) {
  /* line 27, ../stylesheets/_typography.scss */
  .h5, .font-comparison th {
    font-size: 17.8px;
    line-height: 28.48px;
  }
}

/* line 31, ../stylesheets/_typography.scss */
.h6 {
  font-family: Verdana, sans-serif;
  font-size: 14.34469px;
  line-height: 22.09132px;
}
@media screen and (min-width: 600px) {
  /* line 31, ../stylesheets/_typography.scss */
  .h6 {
    font-size: 14.78649px;
    line-height: 25.16446px;
  }
}

/* line 35, ../stylesheets/_typography.scss */
.h1, .h2, .h3, .h4, .h5, .font-comparison th, .h6, p, ul, ol, li, small {
  margin-top: 0;
  margin-bottom: 12px;
}

/* line 40, ../stylesheets/_typography.scss */
.lead {
  font-family: Georgia, serif;
  font-size: 20.10221px;
  line-height: 29.36945px;
}
@media screen and (min-width: 600px) {
  /* line 40, ../stylesheets/_typography.scss */
  .lead {
    font-size: 24.07603px;
    line-height: 36.21615px;
  }
}

/* line 44, ../stylesheets/_typography.scss */
p {
  font-size: inherit;
  line-height: inherit;
}

/* line 49, ../stylesheets/_typography.scss */
small, .footnote {
  font-family: Georgia, serif;
  font-size: 16.11763px;
  line-height: 24.82171px;
}
@media screen and (min-width: 600px) {
  /* line 49, ../stylesheets/_typography.scss */
  small, .footnote {
    font-size: 16.61404px;
    line-height: 28.27468px;
  }
}

/* line 73, ../stylesheets/_typography.scss */
a {
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
}

/* line 79, ../stylesheets/_typography.scss */
a:hover {
  color: red;
}

/* line 83, ../stylesheets/_typography.scss */
a:active {
  color: red;
}

/* line 88, ../stylesheets/_typography.scss */
em {
  font-style: italic;
}

/* line 92, ../stylesheets/_typography.scss */
.text-secondary, .font-comparison th {
  color: rgba(0, 0, 0, 0.5);
}

/* line 1, ../stylesheets/_style-guide.scss */
body {
  background-color: #EFEFEF;
}

/* line 5, ../stylesheets/_style-guide.scss */
nav {
  margin-bottom: 48px;
}
/* line 7, ../stylesheets/_style-guide.scss */
nav a {
  display: inline-block;
  margin-right: 15px;
}

/* line 13, ../stylesheets/_style-guide.scss */
.section {
  width: 100%;
  padding: 30px 24px;
}
@media (min-width: 600px) {
  /* line 13, ../stylesheets/_style-guide.scss */
  .section {
    padding: 60px;
  }
}

/* line 21, ../stylesheets/_style-guide.scss */
.narrow-wrapper {
  width: 100%;
  max-width: 575px;
}

/* line 26, ../stylesheets/_style-guide.scss */
.font-comparison {
  width: 100%;
  table-layout: fixed;
  background-color: #FFFFFF;
}

/* line 32, ../stylesheets/_style-guide.scss */
.font-comparison td, th {
  padding: 12px 15px 15px 20px;
  vertical-align: top;
  border-right: 1px solid #ededed;
  position: relative;
}

/* line 44, ../stylesheets/_style-guide.scss */
.font-comparison tr {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

/* line 49, ../stylesheets/_style-guide.scss */
.font-comparison th:first-child {
  border-right: 1px solid #ededed;
  text-align: right;
}

/* line 54, ../stylesheets/_style-guide.scss */
.metrics {
  padding: 12px 15px 15px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.95);
}

/* line 64, ../stylesheets/_style-guide.scss */
.copy-larger4 {
  font-family: Georgia, serif;
  font-size: 28px;
  line-height: 37.8px;
}
@media screen and (min-width: 600px) {
  /* line 64, ../stylesheets/_style-guide.scss */
  .copy-larger4 {
    font-size: 42px;
    line-height: 52.5px;
  }
}

/* line 68, ../stylesheets/_style-guide.scss */
.copy-larger3 {
  font-family: Georgia, serif;
  font-size: 25.07187px;
  line-height: 34.7504px;
}
@media screen and (min-width: 600px) {
  /* line 68, ../stylesheets/_style-guide.scss */
  .copy-larger3 {
    font-size: 34.88948px;
    line-height: 46.38814px;
  }
}

/* line 72, ../stylesheets/_style-guide.scss */
.copy-larger2 {
  font-family: Georgia, serif;
  font-size: 22.44994px;
  line-height: 31.94683px;
}
@media screen and (min-width: 600px) {
  /* line 72, ../stylesheets/_style-guide.scss */
  .copy-larger2 {
    font-size: 28.98275px;
    line-height: 40.9878px;
  }
}

/* line 77, ../stylesheets/_style-guide.scss */
.icon-larger4 {
  font-family: 'Feather';
  font-size: 26.6px;
  line-height: 35.91px;
}
@media screen and (min-width: 600px) {
  /* line 77, ../stylesheets/_style-guide.scss */
  .icon-larger4 {
    font-size: 39.9px;
    line-height: 49.875px;
  }
}

/* line 81, ../stylesheets/_style-guide.scss */
.icon-larger3 {
  font-family: 'Feather';
  font-size: 23.81827px;
  line-height: 33.01288px;
}
@media screen and (min-width: 600px) {
  /* line 81, ../stylesheets/_style-guide.scss */
  .icon-larger3 {
    font-size: 33.145px;
    line-height: 44.06873px;
  }
}

/* line 85, ../stylesheets/_style-guide.scss */
.icon-larger2 {
  font-family: 'Feather';
  font-size: 21.32745px;
  line-height: 30.34949px;
}
@media screen and (min-width: 600px) {
  /* line 85, ../stylesheets/_style-guide.scss */
  .icon-larger2 {
    font-size: 27.53362px;
    line-height: 38.93841px;
  }
}

/* line 89, ../stylesheets/_style-guide.scss */
.icon-larger1 {
  font-family: 'Feather';
  font-size: 19.0971px;
  line-height: 27.90097px;
}
@media screen and (min-width: 600px) {
  /* line 89, ../stylesheets/_style-guide.scss */
  .icon-larger1 {
    font-size: 22.87223px;
    line-height: 34.40534px;
  }
}

/* line 93, ../stylesheets/_style-guide.scss */
.icon-base {
  font-family: 'Feather';
  font-size: 17.1px;
  line-height: 25.65px;
}
@media screen and (min-width: 600px) {
  /* line 93, ../stylesheets/_style-guide.scss */
  .icon-base {
    font-size: 19px;
    line-height: 30.4px;
  }
}

/* line 97, ../stylesheets/_style-guide.scss */
.icon-smaller {
  font-family: Georgia, serif;
  font-size: 16.11763px;
  line-height: 24.82171px;
}
@media screen and (min-width: 600px) {
  /* line 97, ../stylesheets/_style-guide.scss */
  .icon-smaller {
    font-size: 16.61404px;
    line-height: 28.27468px;
  }
}
