/* line 5, ../../../../.gem/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.gem/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.gem/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.gem/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.gem/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.gem/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.gem/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.gem/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.gem/ruby/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 6, ../sass/main.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/******************************************************
* BASE FONT
******************************************************/
/******************************************************
* ADDITIONAL FONTS
******************************************************/
/******************************************************
* FONT ROLES
******************************************************/
/******************************************************
* FONT SCALE
******************************************************/
/******************************************************
* MIXINS
******************************************************/
/******************************************************
* TEXT COLORS
******************************************************/
/* line 1, ../sass/atoms/_typography.scss */
body {
  font-family: Georgia, serif;
  font-size: 15px;
  line-height: 22.5px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.9);
}
@media screen and (min-width: 600px) {
  /* line 1, ../sass/atoms/_typography.scss */
  body {
    font-size: 16px;
    line-height: 25.6px;
  }
}

/* line 7, ../sass/atoms/_typography.scss */
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
}

/* line 11, ../sass/atoms/_typography.scss */
.h1 {
  font-family: Verdana, sans-serif;
  font-size: 25.2px;
  line-height: 37.8px;
}
@media screen and (min-width: 600px) {
  /* line 11, ../sass/atoms/_typography.scss */
  .h1 {
    font-size: 37.8px;
    line-height: 52.5px;
  }
}

/* line 15, ../sass/atoms/_typography.scss */
.h2 {
  font-family: Verdana, sans-serif;
  font-size: 21.55926px;
  line-height: 33.20202px;
}
@media screen and (min-width: 600px) {
  /* line 15, ../sass/atoms/_typography.scss */
  .h2 {
    font-size: 29.69679px;
    line-height: 43.8712px;
  }
}

/* line 19, ../sass/atoms/_typography.scss */
.h3 {
  font-family: Verdana, sans-serif;
  font-size: 18.44451px;
  line-height: 29.16333px;
}
@media screen and (min-width: 600px) {
  /* line 19, ../sass/atoms/_typography.scss */
  .h3 {
    font-size: 23.33067px;
    line-height: 36.66061px;
  }
}

/* line 23, ../sass/atoms/_typography.scss */
.h4 {
  font-family: Verdana, sans-serif;
  font-size: 15.77976px;
  line-height: 25.61591px;
}
@media screen and (min-width: 600px) {
  /* line 23, ../sass/atoms/_typography.scss */
  .h4 {
    font-size: 18.32926px;
    line-height: 30.63514px;
  }
}

/* line 27, ../sass/atoms/_typography.scss */
.h5 {
  font-family: Verdana, sans-serif;
  font-size: 13.5px;
  line-height: 22.5px;
}
@media screen and (min-width: 600px) {
  /* line 27, ../sass/atoms/_typography.scss */
  .h5 {
    font-size: 14.4px;
    line-height: 25.6px;
  }
}

/* line 31, ../sass/atoms/_typography.scss */
.h6 {
  font-family: Verdana, sans-serif;
  font-size: 12.44887px;
  line-height: 21.04293px;
}
@media screen and (min-width: 600px) {
  /* line 31, ../sass/atoms/_typography.scss */
  .h6 {
    font-size: 12.67123px;
    line-height: 23.30785px;
  }
}

/* line 35, ../sass/atoms/_typography.scss */
.h1, .h2, .h3, .h4, .h5, .h6, p, ul, ol, li, small {
  margin-top: 0;
  margin-bottom: 12px;
}

/* line 40, ../sass/atoms/_typography.scss */
.lead {
  font-family: Georgia, serif;
  font-size: 17.53307px;
  line-height: 25.61591px;
}
@media screen and (min-width: 600px) {
  /* line 40, ../sass/atoms/_typography.scss */
  .lead {
    font-size: 20.36584px;
    line-height: 30.63514px;
  }
}

/* line 44, ../sass/atoms/_typography.scss */
p {
  font-size: inherit;
  line-height: inherit;
}

/* line 49, ../sass/atoms/_typography.scss */
small, .footnote {
  font-family: Georgia, serif;
  font-size: 13.83208px;
  line-height: 21.04293px;
}
@media screen and (min-width: 600px) {
  /* line 49, ../sass/atoms/_typography.scss */
  small, .footnote {
    font-size: 14.07915px;
    line-height: 23.30785px;
  }
}

/* line 73, ../sass/atoms/_typography.scss */
a {
  color: inherit;
  text-decoration: underline;
}

/* line 78, ../sass/atoms/_typography.scss */
a:hover {
  background-color: red;
  color: rgba(0, 0, 0, 0.9);
}

/* line 83, ../sass/atoms/_typography.scss */
a:active {
  background-color: red;
  color: rgba(0, 0, 0, 0.9);
}

/* line 89, ../sass/atoms/_typography.scss */
em {
  font-style: italic;
}

/* line 93, ../sass/atoms/_typography.scss */
.text-secondary {
  color: rgba(0, 0, 0, 0.6);
}

/* line 1, ../sass/_style-guide.scss */
.font-comparison td, th {
  padding: 10px;
  vertical-align: top;
}

/* line 6, ../sass/_style-guide.scss */
.copy-larger4 {
  font-family: Georgia, serif;
  font-size: 28.0px;
  line-height: 37.8px;
}
@media screen and (min-width: 600px) {
  /* line 6, ../sass/_style-guide.scss */
  .copy-larger4 {
    font-size: 42px;
    line-height: 52.5px;
  }
}

/* line 10, ../sass/_style-guide.scss */
.copy-larger3 {
  font-family: Georgia, serif;
  font-size: 23.95473px;
  line-height: 33.20202px;
}
@media screen and (min-width: 600px) {
  /* line 10, ../sass/_style-guide.scss */
  .copy-larger3 {
    font-size: 32.99643px;
    line-height: 43.8712px;
  }
}

/* line 14, ../sass/_style-guide.scss */
.copy-larger2 {
  font-family: Georgia, serif;
  font-size: 20.4939px;
  line-height: 29.16333px;
}
@media screen and (min-width: 600px) {
  /* line 14, ../sass/_style-guide.scss */
  .copy-larger2 {
    font-size: 25.92296px;
    line-height: 36.66061px;
  }
}
