button, input, select, textarea {
  font-family : inherit;
  font-size   : inherit;
  line-height : inherit;
  margin-bottom: $normal-margin;
}

input[type=email],
input[type=text],
input[type=password],
input[type=number],
input[type=date],
textarea {
	border: none;
	border-radius: 0;
	border-bottom: 1px dashed #aaa2a7;
	padding: 2px 8px;
	width: 100%;
	background-color: #f7f5f4;
	font-family: inherit;
	line-height: 1.55;

	white-space: pre-line;
	outline: none;
	@include box-shadow("none");

	&.input-lg {
		@include larger4-font-size($font-copy);
		padding: 5px 12px;
	}

	@include input-placeholder {
		color: #b1a5a1; font-style: italic; 
		-webkit-transition: color .15s;
	}

	&:focus { 
		@include input-placeholder {
			color: #d4ccca; 
			-webkit-transition: color .15s; 
		}
		border-color: #333333;
	}
}
