// Create a modular scale. Returns a list of values.
@function ss-make-scale(
	$base: 16px, 
	$max: 32px, 
	$numb-of-values: 6, 
	$rounding: false
) {

	$scale: ();

	// One value will be smaller than the base.
	$numb-of-smaller-values: 1;

	// Subtract the smaller values the and base value from total
	// to calculate number of larger values.
	$numb-of-larger-values: $numb-of-values - $numb-of-smaller-values - 1;

	// The ratio we'll use to calculate the missing sizes.
	$scaling-ratio: nth-root($max / $base, $numb-of-larger-values);

	// Calculate and add smaller values to the scale.
	@for $i from -$numb-of-smaller-values through -1 {
		$size: $base * power($scaling-ratio, $i);
		$scale: append($scale, $size);
	}

	// Add the base value to the scale.
	$scale: append($scale, $base);

	// Calculate and add larger values to the scale.
	@for $i from 1 through ($numb-of-larger-values) {
		$size: $base * power($scaling-ratio, $i);
		$scale: append($scale, $size);
	}

	// Optionally round the scale.
	@if $rounding == true {
		@each $size-name, $size-value in $scale {
			$new-value: round($size-value);
			$scale: map-merge($scale, ($size-name: $new-value));
		}
	}

	@debug $scale;
	@return $scale;
}
