.font-comparison td, th {
	padding: 10px; 
	vertical-align: top;
}

.copy-larger4 { 
	@include setResponsiveFontSize($font-copy, larger4);
} 
 
.copy-larger3 { 
	@include setResponsiveFontSize($font-copy, larger3);
}

.copy-larger2 { 
	@include setResponsiveFontSize($font-copy, larger2); 
}

.normalize-x-height {

	$normalization-size: 60px;
 
	// .georgia {
	// 	font-family: $font-georgia;
	// 	font-size: adjustFontSize($font-georgia, $normalization-size);
	// 	font-weight: normal;
	// }

	// .verdana {
	// 	font-family: $font-verdana;
	// 	font-size: adjustFontSize($font-verdana, $normalization-size);
	// 	font-weight: bold;
	// }
}