body {
	@include ss-set-responsive-font-size($font-copy, base);
	font-weight: $font-copy-weight;
	color: $text-color-primary;
}

.h1, .h2, .h3, .h4, .h5, .h6 { 
	font-weight: $font-heading-weight;
}

.h1 { 
	@include ss-set-responsive-font-size($font-heading, "larger4");
} 
  
.h2 { 
	@include ss-set-responsive-font-size($font-heading, "larger3");
} 

.h3 { 
	@include ss-set-responsive-font-size($font-heading, "larger2");
}

.h4 { 
	@include ss-set-responsive-font-size($font-heading, "larger1");
}

.h5 { 
	@include ss-set-responsive-font-size($font-heading, "base");
}
 
.h6 { 
	@include ss-set-responsive-font-size($font-heading, "smaller");
}

.h1, .h2, .h3, .h4, .h5, .h6, p, ul, ol, li, small { 
	margin-top: 0; 
	margin-bottom: $normal-margin; 
}

.lead {
	@include ss-set-responsive-font-size($font-copy, "larger1");
}

p {
	font-size: inherit;
	line-height: inherit;
}

small, .footnote {
	@include ss-set-responsive-font-size($font-copy, "smaller"); 
}

// label {
// 	@include base-font-size($font-heading);
// 	font-weight: bold;
// }

// label.label-radio {
// 	font-weight: normal;
// 	cursor: pointer;
// }

// ul.styled-list { 
// 	list-style-type: disc; 
// 	margin-left: 1.5em;
// }

// ol.styled-list { 
// 	list-style: decimal; 
// 	margin-left: 1.5em;
// }

a {
	color: inherit;
	text-decoration: underline;
	cursor: pointer;
}

a:hover {
	color: red;
}

a:active {
	color: red;
}


em {
	font-style: italic; 
}

.text-secondary { color: $text-color-secondary; }
