@import "type-director";

/******************************************************
* TYPOGRAPHY CONFIG
******************************************************/

$typography: td-typography((	

	// Define your typefaces and any relevant adjustments.
	"typefaces": (

		"georgia": (
			"family": (Georgia, serif),
			"font-size-adjustment": 1.00,
			"line-height-adjustment": 1.00,
			"uppercase-adjustment": 0.82
		),

		"verdana": (
			"family": (Verdana, sans-serif),
			"font-size-adjustment": 0.89,
			"line-height-adjustment": 0.94,
			"uppercase-adjustment": 0.85
		),

		"feather": (
			"family": ("Feather"),
			"font-size-adjustment": 1.00,
			"line-height-adjustment": 1.00,
			"uppercase-adjustment": 0.82
		)
	),

	// Define your environments and their constraints.
	"environments": (

		// Phone environment
		"phone": (
			"base-font-size": 16px,
			"base-line-height": 1.5,
			"max-font-size": 28px,
			"max-line-height": 1.35
		),

		// Tablet and larger environments
		"tablet": (
			"media-query": "screen and (min-width: 768px)",
			"base-font-size": 18px,
			"base-line-height": 1.6,
			"max-font-size": 42px,
			"max-line-height": 1.25
		)
	),

	// Other than the base, how many type sizes do you need?
	"numb-smaller-sizes": 2,
	"numb-larger-sizes": 4
));

/******************************************************
* TYPEFACE ROLES
******************************************************/

// It's a good idea to future-proof yourself by 
// mapping typefaces to more functional names.

$typeface-default: "georgia";
$typeface-alternate: "verdana";
$typeface-icon: "feather";

