@import "typography-config";

/******************************************************
* Typography
******************************************************/

$text-color-primary: rgba(#000000, 0.9);
$text-color-secondary: rgba(#000000, 0.5);
$text-color-tertiary: rgba(#000000, 0.35);
$normal-margin: 12px;

body {
	@include td-responsive-type-size($typeface-default, 0);
	font-weight: normal;
	color: $text-color-primary;
}

.h1, .h2, .h3, .h4, .h5, .h6 { 
	font-weight: bold;
}

.h1 { 
	@include td-responsive-type-size($typeface-alternate, 4);
} 

.h2 { 
	@include td-responsive-type-size($typeface-alternate, 3);
} 

.h3 { 
	@include td-responsive-type-size($typeface-alternate, 2);
}

.h4 { 
	@include td-responsive-type-size($typeface-alternate, 1);
}

.h5 { 
	@include td-responsive-type-size($typeface-alternate, 0);
}
 
.h6 { 
	@include td-responsive-type-size($typeface-alternate, -1);
}

.h1, .h2, .h3, .h4, .h5, .h6, p, ul, ol, li, small { 
	margin-top: 0; 
	margin-bottom: $normal-margin; 
}

.lead {
	@include td-responsive-type-size($typeface-default, 1);
}

p {
	font-size: inherit;
	line-height: inherit;
}

small, .footnote {
	@include td-responsive-type-size($typeface-default, -1); 
}

a {
	color: inherit;
	text-decoration: underline;
	cursor: pointer;
}

a:hover {
	color: red;
}

a:active {
	color: red;
}

em {
	font-style: italic; 
}

.text-secondary { color: $text-color-secondary; }

